<%- include('partials/header') %>

<div class="main-container">
    <div class="login-container">
        <h2>Create New Account</h2>
        <form action="/register" method="POST">
            <input type="text" id="fullName" name="fullName" placeholder="Enter your full name" required>
            <input type="text" id="username" name="username" placeholder="Choose a username" required>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Log in here</a>.</p>
    </div>
</div>

<%- include('partials/footer') %>
