<%- include('partials/header') %>

<div class="main-container">
    <div class="login-container">
        <h2>Create New Account</h2>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Choose a username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <input type="hidden" name="role" value="user"> <!-- Default role as 'user' -->
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Log in here</a>.</p>
    </div>
</div>

<%- include('partials/footer') %>
