body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
}

.form-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); 
    padding: 40px 0;
    overflow: hidden;
}

.form-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/BOKOFAMCO BACKGROUND.jpg') no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1; /* Places it behind the form */
}

/* Login Container Styles */
.login-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.986); /* Slight transparency */
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 30px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    z-index: 1; /* Ensures the form is on top of the blurred background */
}

.login-container h2 {
    font-size: 2em;
    color: #333333;
    font-weight: 600;
    margin-bottom: 1em;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 85%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: rgb(0, 109, 119);
    color: white;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0891be;
}

.login-container p {
    color: #2c3e50;
    font-size: 0.9em;
}

.login-container a {
    color: #4CAF50;
    text-decoration: none;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
