body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Full height minus header and footer */
}

.login-container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 400px;
}

.login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #e67e22;
    color: white;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}

.login-container button:hover {
    background-color: #d35400;
}

.login-container p {
    text-align: center;
}

.login-container a {
    color: #e67e22;
    text-decoration: none;
}
