body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5; /* Match with other pages */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff; /* Clean background */
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    text-align: center;
    width: 100%; /* Ensures the heading spans the full width */
    font-size: 2em;
    color: #333333;
    margin: 0 0 1em;
    font-weight: 600;
}


.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50; /* Green from landing header */
    color: white;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #45a049; /* Slightly darker green */
}

.login-container p {
    color: #2c3e50;
    font-size: 0.9em;
}

.login-container a {
    color: #4CAF50;
    text-decoration: none;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
